/*farby
zelena - #41D878
pozadie - #131426
content - #232440
content 2 - #232440
*/

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

.fixed-bottom {
    position: fixed;
    bottom: 20px;
}

body {
    margin: 0px;
    z-index: 1;
    background-color: #334147;
}

.redCon2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    /*max-width: 1248px;*/
    padding: 20px 24px;
}

.con1 {
    width: 640px;
}

.con2 {
    background-color: red;
    margin-left: 24px;
    flex: 0 0 312px;
    width: 312px;
    position: relative;
    z-index: 2;
}

.display-none {
    display: none;
}

.content {
    width: 312px;
}

.header {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #222B2F;
    z-index: 3;
}





.header .search-container {
    overflow: hidden;
    width: 640px;
    max-width: calc(100vw - 142px);
    float: left;
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
}

::placeholder {
    color: #9D9EAA;
}

.header input[type=text] {
    color: white;
    padding: 6px 56px 6px 18px;
    max-width: calc(100vw - 216px);
    width: 566px;
    font-size: 17px;
    border: none;
    background-color: #59626D;
    border-radius: 50px;
    text-decoration: none;
}


.search-container input:focus, button:focus{
    outline:none;
}

#livesearch {
    position: fixed;
    width: 640px;
    max-width: calc(100vw - 142px);
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    border-radius: 8px;
    background-color: #334147;
}

#livesearch a {
    display: block;
    padding: 8px 10px;
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#livesearch a:hover {
    background-color: #59626D;
    color: white;
}

#livesearch a:first-child {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top: 1px solid white;
}

#livesearch a:last-child {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom: 1px solid white;
}



.dropdown {
    float: right;
    overflow: hidden;
}

.dropbtn-filter {
    position: relative;
    font-size: 16px;
    width: auto;
    border-radius: 50px;
    border: none;
    padding: 5px 10px;
    margin: 2px 2px;
    background-color: transparent;
}

.active-button {
    background-color: #41D878;
}

.dropbtn-filter:hover {
    background-color: #41A878;
}



.filter .dropbtn-filter i {
    font-size: medium;
    color: white;
}

.filter {
    position: relative;
    border-radius: 8px;
    border: 1px solid white;
    padding: 4px;
    background-color: #59626D;
    margin-bottom: 8px;
}

.add-post {
    border-radius: 8px;
    border: 1px solid white;
    background-color: #59626D;
    margin-bottom: 8px;
}

.dropdown .dropbtn-search {
    position: fixed;
    right: 0;
    top: 0;
    font-size: 16px;
    width: 116px;
    border-radius: 50px;
    border: none;
    padding: 5px 10px;
    margin: 2px 2px;
    background-color: #41D878;
}

.dropbtn-publish{
    font-size: 16px;
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 8px 10px;
    background-color: #41D878;
}


.dropbtn-publish:hover {
    opacity: 70%;
}

.dropdown .dropbtn-search:hover {
    opacity: 70%;
}

.dropdown .dropbtn {
    font-size: 28px;
    width: 48px;
    border: none;
    outline: none;
    color: #41D878;
    padding: 8px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0 10px 0 0;
}

#add-post .dropdown .dropbtn {
    margin: 0;
    padding: 0 0 0 16px;
}

.dropdown .dropbtn #dropdown-icon {
    color: #41D878;
}

.dropdown .dropbtn:hover {
    opacity: 70%;
}

#dropdown-content-search {
    right: calc((100vw - 660px) / 2);
    min-width: auto;
    width: 118px;
    top: 48px;
}

#dropdown-content-new {
    opacity: 100%;
    position: absolute;
    left: 8px;
    top: 40px;
    width: auto;
}

#dropdown-content-top {
    opacity: 100%;
    position: absolute;
    left: 8px;
    top: 40px;
    width: auto;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 8px;
    top: 48px;
    background-color: #334147;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: auto;
    max-height: calc(100vh - 48px);
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 8px;
    border: 1px solid white;
}

.dropdown-content::-webkit-scrollbar {
    display: none;
}

.image {
    width: 100%;
}

.add-post-title {
    display: inline;
}

#add-post {

}

.add-post-title input {
    width: 30%;
    background-color: #334147;
    min-width: 150px;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 8px;
}

.add-post-upload input {
    width: 100%;
    background-color: #334147;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.add-post-desc {
    width: 100%;
    margin-bottom: 4px;
}
.add-post-desc textarea {
    width: calc(100% - 20px);
    background-color: #334147;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    resize: none;
    height: 50px;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #59626D;
}

.roll {
    display: block;
}

.logo {
    margin-left: 10px;
    float: left;
    padding: 2px;
    width: 44px;
    height: 44px;
}

#search-type {
    display: inline;
}

div {
    margin: 0;
    padding: 0;
}

.item {
    background-color: #59626D;
    border-radius: 8px;
    border: 1px solid white;
    padding: 14px 16px;
    margin-bottom: 8px;
}


#published-img {
    display: block;
    margin: 8px auto 0;
    max-height: 300px;
    width: auto;
    max-width: 100%;
}

.item .item-hr {
    margin-bottom: 8px;
    margin-top: 48px;
}

.item .item-hr-bottom {
    margin-top: 8px;
}

.item a {
    text-decoration: none;
}

.item a:hover {
    opacity: 70%;
}



.avatar {
    height: 40px;
    width: 40px;
    margin-right: 8px;
    float: left;
}

.avatar:hover {
    opacity: 70%;
}

.date {
    font-size: 12px;
    text-align: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

.item i {
    color: #41D878;
    font-size: 25px;
}

.likes {
    margin-left: 8px;
    font-size: 14px;
}



.inline {
    display: inline;
}

.block {
    display: block;
}

.post-stats {
    padding-top:8px ;
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .con1 {
        width: 100%;
    }

    .con2 {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .con2 {
        display: none;
    }

    .con1 {
        width: 640px;
    }
}

@media only screen and (min-width: 992px) {
    .con1 {
        width: 640px;
    }

    .con2 {
        display: block;
    }
}

@media only screen and (max-width: 782px) {
    #dropdown-content-search {
        right: 62px;
    }

    .dropdown .dropbtn-search {
        width: 48px
    }

    #search-type {
        display: none;
    }
}
