body {
    background-color: #1d2041;
}

table {
    display: block;
    font-family: arial, sans-serif;
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    border-radius: 5px;
    background-color: #b7163a;
    color: white;
    overflow-x: scroll;
}

table tr:first-child {
    background-color: #87163a;
}

table tr:first-child th:first-child{
    border-top-left-radius: 5px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

table tr:last-child td:first-child{
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

td, th {
    text-align: left;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: auto;
}

img {
    width: 100%;
}

#mapid {
    height: 450px;
}

select {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 6px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #b7163a;
    -webkit-appearance: none;
    background-position-x: calc(100% - 16px);
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
}

option:hover {
    background-color: #1d2041;
}

.menu {
    height: 58px;
    padding: 2px 2px;
    background-color: #b7163a;
    margin-bottom: 6px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 5px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.login {
    float: right;
}

.title {
    padding: 14px 14px;
    float: left;
}

.button {
    background-color: #1d2041;
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.button:hover {
    background-color: #1d2071;
}

#mapid {
    border-radius: 5px;
}

.login_container {
    max-width: 400px;
    margin: auto;
}

input {
    width: 100%;
    padding: 14px 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #b7163a;
    color: white;
}

::placeholder {
    color: #dddddd;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #dddddd;
}

::-ms-input-placeholder {
    color: #dddddd;
}

.space {
    margin-bottom: 6px;
}

img {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 100%;
}

.login_button {
    background-color: #87163a;
    width: 100%;
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.login_button:hover {
    background-color: #b7163a;
}

.message {
    color: white;
}

.hide {
    display: none;
}

label {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    table {
        display: block;
    }
}

@media only screen and (min-width: 800px) {
    table {
        display: table;
    }
}