* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    margin: 0px;
    z-index: 1;
    background-color: #334147;

}

.container {
    display: table;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}


.redCon2 {
    padding: 20px 24px;
    margin: auto auto;
    display: table-cell;
    vertical-align: middle;
}

.con {
    margin: 0 auto;
    max-width: 400px;
}

.item {
    border-radius: 8px;
    border: 1px solid white;
    padding: 14px 16px;
    background-color: #59626D;
}

.center-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 100px;
}

.form {
    margin: auto;
}

.email {
    margin-top: 114px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 14px 16px;
    margin-bottom: 8px;
    background-color: #334147;
}

.password {
    width: 100%;
    border: none;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 14px 16px;
    background-color: #334147;
    margin-bottom: 8px;
}

.username {
    width: 100%;
    border: none;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 14px 16px;
    background-color: #334147;
    margin-bottom: 8px;
}

.login-button {
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 8px;
    padding: 14px 16px;
    background-color: #41D878;
}

.login-button:hover {
    opacity: 70%;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.form hr {
    margin: 16px auto;
    width: 90%;
}

.background {
    position: fixed;
    bottom: 0;
    left: 10%;
    width: 60%;
    z-index: -1;
}