* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF0EB;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding: 8px 8px;
}

.item {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}

.button {
    width: 100%;
    border: none;
    outline: none;
    padding: 14px 16px;
    text-align: center;
    background-color: #B5838D;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.button i {
    margin-left: 8px;
}

.button:hover {
    background-color: #FFB4A2;
    color: #B5838D;
}

.overview {
    width: 100%;
    background-color: #FFCDB2;
    border-radius: 10px;
    padding: 8px;
}

.overview .title {
    position: absolute;
    text-align: center;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.overview .title .couple {
    margin: 14px;
    font-family: 'Amatic SC';
    font-size: 28px;
}

.overview .decoration_right {
    position: absolute;
    right: 8px;
    top: 10px;
}

.overview .decoration_left {
    position: absolute;
    left: 8px;
    top: 10px;
}

.overview .section {
    padding-top: 120px;
    padding-bottom: 328px;
}

.overview .box {
    width: calc((100% - 16px) / 3);
    height: 160px;
    padding: 8px;
    float: left;
    background-color: #E5989B;
}

.overview .box {
    margin-right: 8px;
    position: relative;
    margin-bottom: 8px;
    border-radius: 10px;
}

.overview .box:nth-child(3n+3) {
    margin-right: 0;
}

.overview .box .box_title {
    margin: 10px;
    font-family: 'Amatic SC';
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.overview .box .detail {
    width: 100%;
    display: block;
    margin-bottom: 8px;
}

.overview .box .detail i {
    margin-right: 8px;
}

.overview .box .button {
    width: calc(100% - 16px);
    position: absolute;
    padding: 8px 16px;
    left: 8px;
    bottom: 8px;
}

.overview .box .button i {
    margin-left: 0;
}

.wedding {
    width: 100%;
    height: 150px;
    background-color: #E5989B;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

.wedding:hover {
    background-color: #FFB4A2;
    color: #6D6875;
}

.wedding .decoration_right {
    position: absolute;
    right: 8px;
    bottom: 10px;
}

.wedding .decoration_left {
    position: absolute;
    left: 8px;
    top: 10px;
}

.wedding .title {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wedding .title .couple {
    margin: 14px;
    font-family: 'Amatic SC';
    font-size: 28px;
}

.wedding_options {
    width: 100%;
    padding: 8px;
    position: relative;
    background-color: #FFCDB2;
    border-radius: 10px;
}

.wedding_options .button {
    width: calc((100% - 14px) / 2);
}

.wedding_options .button:last-child {
    position: absolute;
    right: 8px;
    top: 8px;
}

.wedding_add {
    width: 100%;
    padding: 8px;
    background-color: #FFCDB2;
    border-radius: 10px;
}

.wedding_add .title {
    text-align: center;
    margin: 14px;
    font-family: 'Amatic SC';
    font-size: 28px;
    font-weight: bold;
}

.wedding_add .close {
    background-color: transparent;
    color: #6D6875;
    border: none;
    outline: none;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 28px;
}

.wedding_add label {
    padding-left: 4px;
}

.wedding_add input, .wedding_add textarea {
    width: 100%;
    padding: 14px 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    resize: none;
    margin-top: 4px;
    margin-bottom: 8px;
}

.checklist {
    width: 100%;
    padding: 8px;
    background-color: #FFCDB2;
    border-radius: 10px;
}

.checklist .title {
    text-align: center;
    margin: 14px;
    font-family: 'Amatic SC';
    font-size: 28px;
    font-weight: bold;
}

.checklist .task {
    position: relative;
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    background-color: #E5989B;
    border-radius: 10px;
}

.checklist .task .button_circle {
    border-radius: 30px;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 20px;
    text-align: center;
    outline: none;
    border: none;
    background-color: #B5838D;
    color: white;
}
.checklist .task .button_circle:hover {
    background-color: #FFB4A2;
    color: #B5838D;
}

.checklist .task .button {
    padding: 8px 16px;
}

.checklist .task .button:hover {
    background-color: lightgray;
}

.checklist .task .change_button, .checklist .task input, .checklist .task textarea {
    width: auto;
    border: none;
    padding: 8px 2px;
    background-color: transparent;
    outline: none;
}

.checklist .task input, .checklist .task textarea{
    text-align: left;
    width: 100%;
    outline: none;
    resize: none;
}

.checklist .task .checklist_title input {
    font-size: 20px;
    font-weight: bold;
}

.checklist .task .change_button:hover {
    background-color: #B5838D;
    border-radius: 10px;
}

.checklist .task .button i {
    margin: auto;
}

.checklist .task .checklist_title  {
    margin-top: 4px;
    display: block;
}

.checklist .task .checklist_title .change_button {
    font-size: 20px;
    font-weight: bold;
}

.checklist .task .note {

}

.checklist .task .date {
    position: absolute;
    right: 8px;
    top: 8px;
}

.checklist_filter {
    width: 100%;
    padding: 8px;
    background-color: #FFCDB2;
    border-radius: 10px;
}

.checklist_filter .search {
    width: 100%;
    padding: 6px 16px;
    margin-bottom: 8px;
}

.checklist_filter .select {
    width: 100%;
    padding: 6px 16px;
    margin-bottom: 8px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ffffff;
    -webkit-appearance: none;
    background-position-x: calc(100% - 16px);
}

.checklist_filter .button {
    padding: 6px 16px;
}

.checklist_filter label {
    padding-left: 4px;
}

.checklist_add {
    width: 100%;
    padding: 8px;
    background-color: #FFCDB2;
    border-radius: 10px;
}

.checklist_add .title {
    text-align: center;
    margin: 14px;
    font-family: 'Amatic SC';
    font-size: 28px;
    font-weight: bold;
}

.checklist_add .close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 28px;
    border: none;
    outline: none;
    color: #6D6875;
    background-color: transparent;
}

.checklist_add label {
    padding-left: 4px;
}

.checklist_add input, .checklist_add textarea {
    width: 100%;
    padding: 14px 16px;
    margin-top: 4px;
    margin-bottom: 8px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 10px;
}

.checklist_add input[type=checkbox] {
    width: auto;
}

.error {
    width: 100%;
    text-align: center;
    background-color: #FFCDB2;
    padding: 8px;
    border-radius: 10px;
}

.error .error_title {
    text-align: center;
    margin: 8px;
    font-family: 'Amatic SC';
    font-size: 28px;
}

.hide {
    display: none;
}

.container_help {
    width: 100%;
    padding: 8px;
    background-color: #FFCDB2;
    border-radius: 10px;
}

.header {
    width: 100%;
    max-height: 48px;
    position: fixed;
    top: 0;
    background-color: #FFCDB2;
    padding: 0 10px;
    z-index: 999;
}

.footer {
    width: 100%;
    height: 48px;
    position: fixed;
    bottom: 0;
    background-color: #6D6875;
    z-index: 998;
}

.filter {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.menu {
    float: right;
    padding: 7px 2px;
}

.menu a {
    float: left;
    display: block;
    color: white;
    border-radius: 2px;
    background-color: #B5838D;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    background-color: #FFB4A2;
    color: #B5838D;
}

.menu button:hover {
    background-color: #FFB4A2;
    color: #B5838D;
}

.menu button {
    float: left;
    display: block;
    border-radius: 2px;
    border: none;
    margin: 0;
    background-color: #B5838D;
    padding: 6px 9px;
    font-size: 18px;
    text-align: center;
    color: white;
}

.menu button i {
    margin: auto;
}

.menu i {
    margin-right: 4px;
}

.footer a:hover {
    background-color: transparent;
}

.footer a {
    margin: 8px 0;
    padding: 6px 0 ;
    background-color: transparent ;
    width: calc(100% / 5);
}

.footer .menu {
    padding: 0;
    float: none;
    display: inline;
}

.inline {
    display: inline;
}

.login_block {
    margin: 56px auto ;
    min-width: 200px;
    max-width: 300px;
    background-color: #FFCDB2;
    border-radius: 10px;
    padding: 8px;
}

.login_block input {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 8px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 10px;
}

@media only screen and (max-width: 598px) {
    .background {
        display: none;
    }

    .header a {
        display: none;
    }

    .container {
        width: 100%;
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .header button {
        background-color: transparent;
    }

    .overview .section {
        padding-top: 120px;
        padding-bottom: 1000px;
    }

    .overview .box {
        width: 100%;
        height: 160px;
        padding: 8px;
        float: left;
        margin-right: 0;
    }

}

@media only screen and (min-width: 598px) and (max-width: 768px) {
    .inline {
        display: none;
    }

    a i {
        margin-right: 0;
    }

    .menu button {
        padding: 6px 0;
        width: 50px;
    }

    .container {
        width: 90%;
        margin-top: 48px;
    }

    .menu a {
        padding: 6px 0;
        width: 50px
    }

    .footer {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .footer {
        display: none;
    }

    .container {
        width: 80%;
        margin-top: 48px;
    }
}